# Python environment files
**/__pycache__
.pytest_cache/
.venv/
**/.coverage
.ruff_cache/
htmlcov/

# Helper files for debuild
dpkg-sources/*
dpkg-sources/*/debian/**debhelper*
dpkg-sources/*/debian/*-repo-config*
dpkg-sources/*/debian/files
dpkg-sources/*/*_build.log
!dpkg-sources/*/
