Source: openmediavault-bookworm-repo-config
Section: utils
Priority: optional
Maintainer: curtistinkers <curtistinkers@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: openmediavault-bookworm-repo-config
Architecture: all
Depends: ${misc:Depends}, wget, gnupg
Description: Configures the official OpenMediaVault repository for Debian 12.
 This package automatically manages the APT repository configuration and
 secure cryptographic keyrings for openmediavault-bookworm.