Source: icinga-repo-config
Section: utils
Priority: optional
Maintainer: curtistinkers <curtistinkers@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: icinga-repo-config
Architecture: all
Depends: ${misc:Depends}
Description: Configures the official Icinga repository.
 This package automatically manages the APT repository configuration and
 secure cryptographic keyrings for icinga.