Source: log2ram-repo-config
Section: utils
Priority: optional
Maintainer: curtistinkers <curtistinkers@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: log2ram-repo-config
Architecture: all
Depends: ${misc:Depends}, wget, gnupg
Description: Automatically configures the log2ram repository.
 This package automatically manages the APT repository configuration and
 secure cryptographic keyrings for log2ram.