Source: curtistinkers-repo-config
Section: utils
Priority: optional
Maintainer: curtistinkers <curtistinkers@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: curtistinkers-repo-config
Architecture: all
Depends: ${misc:Depends}, wget, gnupg
Description: My private repository.
 This package automatically manages the APT repository configuration and
 secure cryptographic keyrings for curtistinkers.