name: {{ package_name }}
version: {{ version }}
description: {{ short_description }}
copyright_year: {{ copyright_year }}
dynamic_keyring: {% if dynamic_keyring %}true{% else %}false{% endif %}

repo:
  url: {{ repo_url }}
  suites: {{ repo_suites }}
  components: {{ repo_components }}
  key_url: {{ repo_key_url }}
  key_fingerprint: {{ repo_key_fingerprint }}
{% if os_mappings %}
os_mappings:
{%- for match_key, mapping in os_mappings.items() %}
  {{ match_key }}:
    distro: {{ mapping.distro }}
    codename: {{ mapping.codename }}
{%- endfor %}
{% endif %}
{% if suite_aliases %}
suite_aliases:
{% for debian_name, vendor_name in suite_aliases.items() %}
  {{ debian_name }}: {{ vendor_name }}
{% endfor %}
{% endif %}
