Source: google-chrome-repo-config
Section: utils
Priority: optional
Maintainer: curtistinkers <curtistinkers@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: google-chrome-repo-config
Architecture: all
Depends: ${misc:Depends}
Description: Configures the official apt repository for Google Chrome
 This package automatically manages the APT repository configuration and
 secure cryptographic keyrings for google-chrome.